body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn{
    padding: 2rem 4rem;
    border: 3px solid #4d4c4c;
    border-radius: 55px;
    color: #bbbbbb;
    background:rgb(162, 74, 74);
    font-size: 3rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;

}
.colorBtn:hover{
    background:rgb(240, 253, 255);
    color: #4d4c4c;
    box-shadow: #bbbbbb;
}